{% extends 'admin_layout.html' %}

{% block title %}
Poll Details
{% endblock %}


{% block content %}
<div>
  <div class="row my-2 gy-2">
    <div class="col-lg-2 col-sm-3">
      <a href="/admin/polls" type="button" class="go_back_btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" class="me-2" fill="none"
          viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
        Go Back
      </a>
    </div>
    <div class="col-lg-10 col-sm-12 d-flex justify-content-center align-items-center">
      <h5 class="fs-4">Poll Details</h5>
    </div>
  </div><br><br>
  <div class="card bg-teal" style="width: auto; padding:8%;">
    <div class="image">
      <img src="/static/images/graph.png" alt="graph">
    </div>

    <div class="card-body">
      <h5 class="card-title">{{polldetails['question']}}</h5>
      <h6 style="color:#7c7979">Added On {{polldetails['date']}}</h6>
      <h6 style="color:red">Received total {{polldetails['votes']}} votes </h6>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="buttons">
        <a href="#" class="btn bg-brown text-teal">Turn Poll Off
        </a>
        &nbsp;
        <a href="#" class="btn btn-outline-danger">Delete</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}