{% extends 'admin_layout.html' %}

{% block title %}
All Events
{% endblock %}


{% block content %}
<br>
<div class="container">
  <div class="row d-flex align-items-center">
    <div class="col my-1">
      <form class="d-flex">
        <input class="form-control me-2 fs-7" type="search" placeholder="Search by name or Code here"
          aria-label="Search">
        <button class="button outline_btn fs-7" type="submit">Search</button>
      </form>
    </div>
    <div class="col-md-auto my-1 d-flex justify-content-end">
      <a href="#" class="button outline_btn fs-7" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Add Event</a>
    </div>
    <div class="col-md-auto my-1 d-flex justify-content-end ">
      <a href="/admin/events/event-registrations" class="button outline_btn fs-7">Event Registration</a>
    </div>
  </div>
</div>
<br>
<!-- List -->
<div class="w-100 d-flex align-items-center justify-content-between py-3">
  <h5 class="fs-5 fw-bold">All Events</h5>
  <li class="filter_btn p-2 rounded d-flex align-items-center fs-6 dropdown fw-bold">
    <div class='dropdown-toggle fs-7' id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Choose
      Category
    </div>
    <ul class="dropdown-menu" style="background-color: #F1E3C8 !important;" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" href="/admin/events/informals">Informals</a>
      </li>
      <li>
        <a class="dropdown-item" href="/admin/events/fine-arts">Fine Arts</a>
      </li>
      <li>
        <a class="dropdown-item" href="/admin/events/performing-arts">Performing
          Arts</a>
      </li>
      <li>
        <a class="dropdown-item" href="/admin/events/gaming">Gaming</a>
      </li>
      <li>
        <a class="dropdown-item" href="/admin/events/sports">Sports</a>
      </li>
      <li>
        <a class="dropdown-item" href="/admin/events/literary-arts">Literary
          Arts</a>
      </li>
      <li>
        <a class="dropdown-item" href="/admin/events/technical-events">Technical
          Events</a>
      </li>
      <li>
        <a class="dropdown-item" href="/admin/events/technical-workshop">Technical
          Workshops</a>
      </li>
      <li>
        <a class="dropdown-item" href="/admin/events/management-events">Managemnet
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="/admin/events/special-events">Special Events
        </a>
      </li>
    </ul>
  </li>
</div>
<div id="admin-events" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
  {% for ele in events_list %}
  <div class="col rounded-3">
    <div class="card bg-teal shadow-sm">
      <div class="d-flex justify-content-center border-bottom border-2 border-dark py-3 m-1">
        <img src={{ele['icon_url']}} height="170px" alt="event-image">
      </div>
      <div class="d-flex flex-column px-3 mt-2">
        <h2 class="sec-font fs-5 my-0 text-brown fw-bold">
          {{ele['event_name']}}
        </h2>
        <p class="sec-font fs-7 mb-1 text-gray fw-bold">{{ele['category']}}</p>
        <p class="sec-font fs-5 text-brown mb-0 fw-bolder">
          {% if ele["event_offline_cost"] != 0 %}
          {{ele["event_offline_cost"]}} ₹
          <span class="fs-7">(Offline)</span>
          {% endif %}
          {% if ele["event_online_cost"] != 0 %}
          {{ele["event_online_cost"]}} ₹
          <span class="fs-7">(Online)</span>
          {% endif %}
        </p>
      </div>
      <div class="d-flex p-3 mb-2">
        <a href={{"/admin/events/{}/{}/edit".format(ele['category'],ele['event_id'])}}
          class="btn btn-dark text-teal sec-font">EDIT</a>
        &nbsp;&nbsp;
        <a href={{"/admin/events/{}/{}/delete".format(ele['category'],ele['event_id'])}}
          class="btn btn-outline-danger sec-font">DELETE</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="modal-body" action='/admin/add-event' method="POST">
        {{form.csrf_token}}
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            {{form.id(class="input_value",placeholder="Event id")}}
          </div>
          <div class="col-lg-6 col-sm-12">
            {{form.code(class="input_value",placeholder="Event Code")}}
          </div>
        </div>
        {{form.name(class="input_value",placeholder="Event Name")}}
        {{form.description(class="input_value",placeholder="Event Description")}}
        {{form.rules(class="input_value",placeholder="Event Rules")}}
        {{form.categoryName(class="input_value",placeholder="Category Name")}}
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            {{form.categoryId(class="input_value",placeholder="Category ID")}}
          </div>
          <div class="col-lg-6 col-sm-12">
            {{form.pr_points(class="input_value",placeholder="Event PR Points")}}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            {{form.date(class="input_value",placeholder="Event Date")}}
          </div>
          <div class="col-lg-6 col-sm-12">
            {{form.duration(class="input_value",placeholder="Event Duration")}}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            {{form.criteria(class="input_value" ,placeholder="Event Criteria" )}} </div>
          <div class="col-lg-6 col-sm-12">
            {{form.mode(class="input_value",placeholder="Event Mode")}}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            {{form.contact1(class="input_value",placeholder="Event Contact 1")}}
          </div>
          <div class="col-lg-6 col-sm-12">
            {{form.contact2(class="input_value",placeholder="Event Contact 2")}}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            {{form.contact3(class="input_value",placeholder="Event Contact 3")}}
          </div>
          <div class="col-lg-6 col-sm-12">
            {{form.contact4(class="input_value",placeholder="Event Contact 4")}}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            {{form.onlineCost(class="input_value",placeholder="Event Online Cost")}}
          </div>
          <div class="col-lg-6 col-sm-12">
            {{form.offlineCost(class="input_value",placeholder="Event Offline Cost")}}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            {{form.supportsOnline(class="input_value",placeholder="Event Supports Online")}}
          </div>
          <div class="col-lg-6 col-sm-12">
            {{form.supportsOffline(class="input_value",placeholder="Event Supports Offline")}}
          </div>
        </div>
        {{form.perks1(class="input_value",placeholder="Event Perk 1")}}
        {{form.perks2(class="input_value",placeholder="Event Perk 2")}}
        {{form.perks3(class="input_value",placeholder="Event Perk 3")}}
        {{form.icon_url(class="input_value",placeholder="Event Icon URL")}}
        <br />

        <button type="submit" class="button w-100 my-2 bg-brown text-teal">Save Event</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}