{% extends '/admin/admin_layout.html' %}

{% block title %}
Event Edit Page
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
{% endblock head %}


{% block content %}
<div class="row p-4 px-2 justify-content-center h-100">
    <!-- go back button -->
    <div class="row my-2 gy-2">
        <div class="col-lg-3 col-sm-3">
            <a href={{"/admin/merchandise/{}".format(merchandise_details['category'])}} type="button"
                class="go_back_btn text-black fs-7">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" class="me-2"
                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                </svg>
                Go Back
            </a>
        </div>
        <div class="col-lg-9 col-sm-12 d-flex justify-content-center align-items-center">
            <h5 class="fs-5 main-font">Merchandise Details</h5>
        </div>
    </div>
    <!-- form -->
    <div class="row g-2 my-2 py-3">
        <!-- image -->
        <div class="col-lg-5 col-sm-12 d-flex flex-column d-flex p-3">
            <div class="row mb-2 rounded-3 my-2">
                <img src={{merchandise_details['img1']}} alt="merchandise image" class="w-100 rounded-3" />
            </div>
        </div>
        <!-- details -->
        <form class="col-lg-7 col-sm-12 my-2">
            <p class="mb-0 fs-7 main-font">
                Merch Id
            </p>
            <input type="text" name="id" id="id" class="input_value" value="{{merchandise_details['id']}}">
            <p class="mb-0 fs-7 main-font">
                Merch Name
            </p>
            <input type="text" name="title" id="title" class="input_value" value="{{merchandise_details['title']}}">
            <p class="mb-0 fs-7 main-font">
                Merch Description
            </p>
            <textarea name="event_description" id="event_description" cols="30" rows="6" class="input_value">{{merchandise_details['description']}}
            </textarea>
            <div class="row">
                <div class="col-lg-auto col-sm-12">
                    <p class="mb-0 fs-7 main-font">
                        Merch Cost
                    </p>
                    <input type="text" name="price" id="price" class="input_value"
                        value="{{merchandise_details['price']}} Rs">
                </div>
                <div class="col-lg-auto col-sm-12">
                    <p class="mb-0 fs-7 main-font">
                        Merch Category
                    </p>
                    <input type="text" name="category" id="category" class="input_value"
                        value="{{merchandise_details['category']}}">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-auto col-sm-12">
                    <p class="mb-0 fs-7 main-font">
                        Merch Quantity Left
                    </p>
                    <input type="text" name="quantity" id="quantitty" class="input_value"
                        value="{{merchandise_details['quantity']}}">
                </div>
                <div class="col-lg-auto col-sm-12">
                    <p class="mb-0 fs-7 main-font">
                        Merch Code
                    </p>
                    <input type="text" name="code" id="code" class="input_value"
                        value="{{merchandise_details['code']}}">
                </div>
            </div>
            <p class="mb-0 fs-7 main-font">
                Merch Colors
            </p>
            <input type="text" name="colors" id="colors" class="input_value" value="{{merchandise_details['colors']}}">
            <p class="mb-0 fs-7 main-font">
                Merch Sizes
            </p>
            <input type="text" name="size" id="size" class="input_value" value="{{merchandise_details['size']}}">
        </form>
    </div>
</div>
{% endblock content %}