{% extends '/admin/admin_layout.html' %}

{% block title %}
Poll Details
{% endblock %}


{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  function display() {
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(function () {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Option');
      data.addColumn('number', 'Votes');
      chartOptions = '{{ polldetails|tojson }}';
      var parsed = JSON.parse(chartOptions);
      for (var i = 0; i < parsed.length; i++) {
        data.addRows([[parsed[i]['option_name'], parsed[i]['option_votes']]]);
      }
      var options = { 'title': 'Poll Responses', 'width': screen.width, 'height': 400, 'width': '100%', vAxis: { title: 'Votes' } };
      var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
      chart.draw(data, options);
    })
  }
  display();
</script>
<div>
  <div class="row my-2 py-2 gy-2">
    <div class="col-lg-3 col-sm-3">
      <a href="/admin/polls" type="button" class="go_back_btn text-black fs-7">
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" class="me-2" fill="none"
          viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
        Go Back
      </a>
    </div>
    <div class="col-lg-9 col-sm-12 d-flex justify-content-center align-items-center">
      <h5 class="fs-4 main-font text-red">Poll Details</h5>
    </div>
  </div>

  <div class="row p-2 my-5 g-3">
    <div class="col-lg-6 col-sm-12" id="chart"></div>
    <div class="col-lg-6 col-sm-12">
      <p class="sec-font fs-7 mb-0 text-black">Poll ID: {{polldetails[0]['id']}}</p>
      <h5 class="card-title main-font fs-5 text-red pb-1 mb-0">{{polldetails[0]['question']}}</h5>
      <p class="text-red sec-font mb-0">
        Status: {{polldetails[0]['status']}}
      </p>
      <p class="text-red sec-font">Total Votes
        <span class="main-font">
          {{polldetails[0]['total_votes']}}
        </span>
      </p>

      <div class="buttons">
        <a href="#" class="btn bg-brown text-teal">Turn Poll Off
        </a>
        &nbsp;
        <a href="#" class="btn btn-outline-danger">Delete</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}