{% extends '/admin/admin_layout.html' %}

{% block title %}
All Polls
{% endblock %}


{% block content %}
<br>
<div class="container">
    <div class="row d-flex align-items-center justify-content-end">
        <div class="col-md-auto my-1">
            <a href="#" class="button outline_btn fs-7" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Add
                Poll</a>
        </div>
    </div>
</div>
<br>
<h5 class="fs-5 fw-bold">All Public Polls</h5>
{% for ele in poll_list %}
<div class="card bg-teal shadow-sm p-3 my-2 mb-3">
    <h1 class='text-black fw-bolder'>{{ele["id"]}}</h1>
    <h5 class="fs-5 main-font text-red">{{ele["question"]}}</h5>
    <div class="d-flex my-1">
        <h6 class='text-danger'>{{ele["status"]}}</h6>&nbsp;&nbsp;&nbsp;&nbsp;
        <h6 class='text-black'>{{ele["total_votes"]}} Votes</h6>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="buttons" style="margin-top:2%">
        <a href={{"/admin/polls/{}/details".format(ele["id"])}} class="btn bg-brown text-teal py-1 px-2 fs-7">VIEW
        </a>
        &nbsp;
        <a href="#" class="btn btn-outline-danger py-1 px-2 fs-7 border-2">DELETE</a>
    </div>
</div>
{% endfor %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Poll</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="modal-body" action='' method="post">
                {{form.question(class="input_value",placeholder="Poll Question")}}
                {{form.description(class="input_value",placeholder="Poll Description")}}
                {{form.option1(class="input_value",placeholder="Poll option 1")}}
                {{form.option2(class="input_value",placeholder="Poll option 2")}}
                {{form.option3(class="input_value",placeholder="Poll option 3")}}
                {{form.image1(class="input_value",placeholder="Poll image url 1")}}
                {{form.image2(class="input_value",placeholder="Poll image url 2")}}
                {{form.image3(class="input_value",placeholder="Poll image url 3")}}
                {{form.dateTime(class="input_value")}}
                <button type="submit" class="button w-100 my-2 bg-brown text-beige">Save Poll</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}