{% extends 'user_layout.html' %}

{% block title %}
Alegria 2022 | Your Cart
{%endblock %}

{% block content %}
<main class="container-fluid bg-cover min-vh-100">
  {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
  <div
    class="alert alert-success alert-dismissible fade show d-flex align-items-center position-absolute main-font main-bg"
    role="alert" style="z-index: 10;top: 1.3rem;left:2%;right:2%;width: 95%;">
    <i class="far fa-check-circle fs-3 me-2"></i>
    <div>
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {% endfor %} {% endif %} {% endwith %}
  <div class="row py-3 px-1 d-flex flex-column align-items-center">
    {% if cart_details['total_items']==0 %}
    <!-- cart is empty div -->
    <div class="row py-5 d-flex flex-column align-items-center">
      <img src="/static/images/undraw_empty_cart_co35.svg" alt="empty cart image" height="200px" />
      <h2 class="text-center main-font text-red fs-3 py-1 mt-2">
        Looks like your cart is empty
      </h2>
      <p class="text-center text-black sec-font">
        Add some cool merchandise to your cart. You won't regret buying them.
      </p>
    </div>
    {% endif %}

    {% if cart_details['total_items']!=0 %}
    <div class="row mt-2">
      <h2 class="fs-3 main-font mb-0 text-red">
        Your Shopping Cart
        <span class="fs-7 sec-font mx-1">[Total Items {{(cart_details['total_items'])}} ]</span>
      </h2>
    </div>

    <div class="row p-0 m-0">
      <form action={{"/user/{}/clearCart".format(user_id)}} method="post">
        <button type="submit" class="button fs-7 sec-font mx-1 text-decoration-underline">
          Clear Whole Cart
        </button>
      </form>
    </div>

    <div class="row g-3">
      <div class="col-lg-6 col-sm-12">
        <!-- cart items -->
        {% for product in cart_list %}
        <div class="row p-3 gx-3 gy-2 me-1 border-2 border-bottom border-danger">
          <div class="col-lg-5 col-sm-12 d-flex justify-content-center">
            <img src="{{product.img}}" alt="cart-item-image" class="rounded-3" width="200px" height="200px" />
          </div>

          <div class="col-lg-7 col-sm-12 d-flex flex-column" style="gap: 0.1rem;">
            <h3 class="fs-5 main-font text-red mb-1">
              {{product.name}}
            </h3>

            <div class="d-flex mb-1">
              <p class="sec-font fs-7 pe-1 mb-0">{{product.category}}</p>
              <p class="sec-font fs-7 px-1 mb-0">{{product['id']}}</p>
              <p class="sec-font fs-7 px-1 mb-0">Quantity: {{product['count']}}</p>
            </div>

            {% if product.category!="Badges" %}
            <div class="d-flex mb-1">
              <p class="sec-font fs-7 pe-1 mb-0">
                Color:{{product.color}}
              </p>
              <p class="sec-font fs-7 px-1 mb-0">
                Size: {{product.size}}
              </p>
            </div>
            {% endif %}

            <h3 class="fs-5 main-font text-red mb-1">
              {{product.cost}} ₹
            </h3>

            <div class="d-flex-align-items-center my-1" style="gap: 0.4rem;">
              <form action={{"/user/edit-cart-merchandise/{}/{}".format(user_id,product['id'])}} method="post">
                <input type="number" name='count' value={{product['count']}} min="1" class="p-1 me-1 input_value"
                  style="width: 3rem;" required>
                <button type="submit" class="button py-1 px-3 bg-brown text-beige">
                  Update
                </button>
              </form>
            </div>

            <form class="my-1 text-black" action={{"/user/remove-from-cart/{}/{}".format(user_id,product['id'])}}
              method="post">
              <button type="submit" class="d-flex justify-content-center align-items-center button main-font fs-6"
                style="border: 1px solid #3D3D3D;">
                Remove
                <i class="far fa-trash-alt ms-2"></i>
              </button>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- payment div -->
      <script>
        const loadScript = (src) => {
          return new Promise((resolve) => {
            const script = document.createElement("script");
            script.src = src;
            script.onload = () => {
              resolve(true);
            };
            script.onerror = () => {
              resolve(false);
            };
            document.body.appendChild(script);
          });
        }
        const displayRazorpay = async() => {
          const res = await loadScript(
            "https://checkout.razorpay.com/v1/checkout.js"
          );
          console.log('check')

          if (!res) {
            console.log("Razorpay SDK failed to load. Are you online?");
            return;
          }
          console.log('dncjid');
          const data = await fetch("/user/razorpay", {
            method: "POST",
          }).then((t) => t.json()).catch(err => console.log(err));
          console.log('before');
          console.log(data);
          console.log('after');
          const options = {
            key: "rzp_test_rNYpEpdAPPGVGI", // Enter the Key ID generated from the Dashboard
            currency: data.currency,
            amount: data.amount,
            order_id: data.id,
            name: "Alegria 2022",
            description: "Test Transaction",
            image: "https://example.com/your_logo",
            callback_url: "https://alegria.co.in/",
          };
          const paymentObject = new Razorpay(options);
          paymentObject.open();
        }
      </script>
      <div class="col-lg-6 col-sm-12">
        <div class="
            col
            d-flex
            flex-column
            align-items-center
            main-bg
            rounded-3
            p-3
          ">
          <div class="row w-100 border-bottom border-2 border-danger mb-2 p-1">
            <div class="col-9 p-0 m-0">
              <p class="main-font mb-0">Total Items In Cart</p>
            </div>
            <div class="col-3 text-end p-0 m-0">
              <p class="main-font mb-0">{{cart_details['total_items']}}</p>
            </div>
          </div>
          <div class="row w-100 border-bottom border-2 border-danger mb-2 p-1">
            <div class="col-9 p-0 m-0">
              <p class="main-font mb-0">Subtotal</p>
            </div>
            <div class="col-3 text-end p-0 m-0">
              <p class="main-font mb-0">{{cart_details['subtotal']}} ₹</p>
            </div>
          </div>
          <div class="row w-100 border-bottom border-2 border-danger mb-2 p-1">
            <div class="col-9 p-0 m-0">
              <p class="main-font mb-0">Coupons Discount</p>
            </div>
            <div class="col-3 text-end p-0 m-0">
              <p class="main-font mb-0">
                {{cart_details['coupon_discount']}} ₹
              </p>
            </div>
          </div>
          <div class="row w-100 border-bottom border-2 border-danger mb-1 p-2">
            <div class="col-9 p-0 m-0">
              <p class="fs-4 main-font mb-0">Total To Pay</p>
            </div>
            <div class="col-3 text-end p-0 m-0">
              <p class="fs-4 main-font mb-0">{{cart_details['to_pay']}} ₹</p>
            </div>
          </div>
          <div class="row w-100 my-2" >
            <!-- <form class="my-2" action="{{url_for('app.landingPage')}}"> -->
            <button type="submit" onClick="displayRazorpay()" target="_blank" rel="noopener noreferrer" class="w-100 button text-beige fs-6" style="background-color: #631909;" >
              Proceed To Pay {{cart_details['to_pay']}} ₹
              <i class="fas fa-arrow-right ms-2"></i>
            </button>
            <!-- </form> -->
            <p class="sec-font text-black fs-7 mb-1 ">
              Online Payment is still under development. Will be active soon.
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</main>

{% endblock %}