{% extends 'user_layout.html' %} {% block title %} Alegria 2022 | Cart Page {% endblock %} {% block content %}
<main class="container-fluid bg-cover min-vh-100">
    <div class="row py-3 px-1 d-flex flex-column align-items-center">
        <div class="row mt-2">
            <h2 class="fs-3 main-font mb-0 text-red">
                Your Shopping Cart
                <span class="fs-7 sec-font mx-1">[Total Items {{session['Shoppingcart']|length}} ]</span>
            </h2>
        </div>
        {% if cart_msg %}
        <!-- cart is empty div -->
        <div class="row py-5 d-flex flex-column align-items-center">
            <img src="/static/images/undraw_empty_cart_co35.svg" alt="empty cart image" height="200px">
            <h2 class="text-center main-font text-red fs-3 py-1 mt-2">
                Looks like your cart is empty
            </h2>
            <p class="text-center text-black sec-font">
                Add some cool merchandise to your cart. You won't regret buying them.
            </p>
        </div>
        {% endif %} {% if cart_msg==False %}
        <div class="row p-0 m-0">
            <form action="{{url_for('client.clearcart')}}">
                <button type="submit" class="button fs-7 sec-font mx-1 text-decoration-underline">
                    Clear Whole Cart
                </button>
            </form>
        </div>
        <div class="row g-3">
            <div class="col-lg-6 col-sm-12">
                <!-- cart items -->
                {% for key ,product in session['Shoppingcart'].items() %}
                <!-- cart item (merchandise) -->
                <div class="row p-3 g-1 me-1 border-2 border-bottom border-danger">
                    <div class="col-lg-5 col-sm-12 d-flex justify-content-center">
                        <img src={{product.image}} alt="cart-item-image" class="rounded-3" width="200px" height="200px">
                    </div>
                    <div class="col-lg-7 col-sm-12 d-flex flex-column">
                        <h3 class="fs-5 main-font text-red mb-1">{{product.name}}</h3>
                        <div class="d-flex mb-1">
                            <p class="sec-font fs-7 pe-1 mb-0">{{product.category}}</p>
                            <p class="sec-font fs-7 px-1 mb-0">{{product.merchandise_id}}</p>
                            <p class="sec-font fs-7 px-1 mb-0">Quantity: {{product.count}}</p>
                        </div>
                        <div class="d-flex mb-1">
                            <p class="sec-font fs-7 pe-1 mb-0">{{product.color}}</p>
                            <p class="sec-font fs-7 px-1 mb-0">Size: {{product.size}}</p>
                        </div>
                        <p class="sec-font fs-7 px-1 mb-0">Price: {{product.cost}}₹</p>
                        {%set subtotal = product.count|int * product.cost|float %}
                        <h3 class="fs-5 main-font text-red mb-1">Total:{{subtotal}} ₹</h3>
                        <form class="my-2" action={{url_for( 'client.deleteItem', merchandise_id=key)}}>
                            <button type="submit" class="button main-bg text-red fs-6">
                                Remove From Cart
                                <i class="far fa-trash-alt ms-2"></i>
                            </button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- payment div -->
            <div class="col-lg-6 col-sm-12">
                <div class="col d-flex flex-column align-items-center main-bg rounded-3 p-3">
                    <div class="row w-100 border-bottom border-2 border-danger mb-2 p-1">
                        <div class="col-9 p-0 m-0">
                            <p class="main-font mb-0">Total Items In Cart</p>
                        </div>
                        <div class="col-3 text-end p-0 m-0">
                            <p class="main-font mb-0">{{session['Shoppingcart']|length}}</p>
                        </div>
                    </div>
                    <div class="row w-100 border-bottom border-2 border-danger mb-2 p-1">
                        <div class="col-9 p-0 m-0">

                            <p class="main-font mb-0">Subtotal</p>
                        </div>
                        <div class="col-3 text-end p-0 m-0">
                            <p class="main-font mb-0">{{grandtotal}}₹</p>
                        </div>
                    </div>
                    <div class="row w-100 border-bottom border-2 border-danger mb-2 p-1">
                        <div class="col-9 p-0 m-0">
                            <p class="main-font mb-0">Coupons Discount</p>
                        </div>
                        <div class="col-3 text-end p-0 m-0">
                            <p class="main-font mb-0">-</p>
                        </div>
                    </div>
                    <div class="row w-100 border-bottom border-2 border-danger mb-1 p-2">
                        <div class="col-9 p-0 m-0">
                            <p class="fs-4 main-font mb-0">Total To Pay</p>
                        </div>
                        <div class="col-3 text-end p-0 m-0">
                            <p class="fs-4 main-font mb-0">{{grandtotal}}₹</p>
                        </div>
                    </div>
                    <div class="row w-100 my-2">
                        <form class="my-2" action="">
                            <button type="submit" class="w-100 button bg-red text-beige fs-6">
                            Proceed To Pay
                            {{grandtotal}} ₹
                            <i class="fas fa-arrow-right ms-2"></i>
                        </button>
                        </form>
                    </div>


                </div>
            </div>
        </div>

    </div>
    {% endif %}
</main>
{% endblock content %}