{% extends 'layout.html' %}


{% block head %}
<title>401 Error</title>
{% endblock head %}


{% block body %}
<div class="container-fluid main-bg min-vh-100 d-flex justify-content-center align-items-center">
    <div class="row h-100">
        <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
            <img src="/static/images/login/conifer-suspicious-activity.png" alt="Error character image" height="300px">
        </div>
        <div class="col-lg-5 col-sm-12 p-3 d-flex flex-column justify-content-center">
            <h2 class="display-6 fw-bolder text-brown">Oh No! Error 401</h2>
            <p class="fw-normal">You aren't logged in for accessing this page. Please login into your account to
                continue further.
            </p>
            <div class="d-flex align-items-center gap-1">
                <button type="button" class="normal-button">
                    <a href="/" class="text-beige sec-font fs-6">
                        Go To Homepage
                    </a>
                </button>
                <button type="button" class="up-button border border-2 border-dark py-1">
                    <a href="/user-login" class="fs-7 sec-font text-dark">
                        Go To Login
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock body %}