{% extends 'layout.html' %}


{% block head %}
<title>404 Error</title>
{% endblock head %}


{% block body %}
<div class="container-fluid u-bg-beige min-vh-100 d-flex justify-content-center align-items-center">
    <div class="row h-100">
        <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
            <img src="/static/images/error colored.svg" alt="Error character image" height="300px">
        </div>
        <div class="col-lg-5 col-sm-12 p-3 d-flex flex-column justify-content-center">
            <h2 class="display-5 fw-bolder text-red main-font">404</h2>
            <p class="fw-normal sec-font">Sorry, we can't find that page or page must be under development. Check for
                any url
                spelling.
            </p>
            <div class="d-flex align-items-center">
                <button type="button" class="d-flex align-items-center bg-brown me-2 py-1 px-4 rounded-3 border-brown"
                    style="padding: 0.2rem 1rem;">
                    <a href="/" class="text-light fs-7">
                        Go To Homepage
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock body %}