{% extends 'user_layout.html' %}


{% block headContent %}
<style>
    .other_artist_card {
        width: 100%;
    }

    .other_artist_card .other_artist_card-img {
        width: 80%;
        border-radius: 6px;
    }
</style>
{% endblock headContent %}


{% block title %}
Alegria 2022 | Artist Detail
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100 overflow-hidden bg-cover py-2">
    <div class="container">
        <div class="row p-4 g-4 my-2 cover-color rounded-3">
            <!-- go back button -->
            <div class="row">
                <div class="col-lg-2 col-sm-3">
                    <a href="/" type="button" class="go_back_btn py-1 text-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"
                            class="me-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                        </svg>
                        Go Back
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 py-3">
                <img src={{details.img}} class="rounded-3" width="100%" alt="artist-image">
            </div>
            <div class="col-lg-6 col-sm-12 py-3">
                <h3 class="fs-4 main-font text-red">{{details.name}}</h3>
                <p class="mb-1 fs-6 text-black mb-1">{{details.type}}</p>
                <p class="mb-1 fs-6 text-black mb-1">{{details.date}}</p>
                <p class="mb-1 fs-6 text-black mb-1">For passes please contact,</p>
                <div class="row mb-1 fs-6 text-red mb-1">
                    <div class="col-lg-4 col-sm-12">
                        <a href="tel:+918652323878" class="text-red">+91 8652323878</a>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <a href="tel:+918097261674" class="text-red">+91 8097261674</a>
                    </div>
                </div>
                <hr>
                {{details.p | safe }}
            </div>
            <hr>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-sm-1 g-3">
                <div class="col-12 my-2">
                    <h4 class="main-font fs-5">Other Artists</h4>
                </div>
                {% for artist in all_details %}
                <a href={{"/artists/{}".format(artist.id)}} class="col other_artist_card">
                    <img src={{artist.img}} class="other_artist_card-img" alt="">
                    <p class="fs-5 main-font text-black my-1">{{artist.name}}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}