{% extends 'user_layout.html' %}


{% block headContent %}
<style>
    .team-card {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        border-radius: 16px;
        color: #fff;
        transition: all .3s ease-out;
        border: none;
    }

    .row-padding {
        padding: 0.2rem 2rem;
    }

    h5 {
        text-transform: uppercase;
    }

    .team_card-img {
        height: 13rem;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    .team_card-info {
        width: 100%;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        background-color: #631909;
    }

    .team-card:hover {
        transform: scale(1.05);
    }

    .bottom {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .divider {
        width: 100%;
        height: 0.1rem;
        margin: 0.3rem auto;
        background-color: #631909;
    }

    @media screen and (max-width:600px) {
        .row-padding {
            padding: 0.2rem 1rem;
        }
    }
</style>
{% endblock headContent %}


{% block title %}
Alegria 2022 | Our Developers
{% endblock %}


{% block content %}
<div class="bg-cover container-fluid overflow-hidden">
    <div class="row py-4">
        <div class="col-12">
            <h3 class="mb-4 pb-3 text-red main-font fs-3 text-center">
                Web Team
            </h3>
        </div>
        <div class="col-12">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 row-padding justify-content-center">
                {% for ele in web_team_list %}
                <div class="col d-flex flex-column align-items-center">
                    <div class="team-card">
                        <img class="team_card-img" src="{{ele['img']}}" alt="team person image">
                        <!-- info div -->
                        <div class="d-flex flex-column team_card-info w-100">
                            <div class="py-3">
                                <h5 class="mb-0 main-font fs-5 px-2 text-center">
                                    {{ele['name']}}
                                </h5>
                                <p class="fs-7 sec-font text-light px-2 text-center mb-2">
                                    {{ele['role']}}
                                </p>
                                <div class="fs-5 bottom w-100 px-3 py-1 text-center">
                                    <a href="tel:{{ele['call']}}" class="me-1">
                                        <i class="fas fa-phone-alt text-light"></i>
                                    </a>
                                    <a href="mailto:{{ele['gmail']}}" target="_blank" rel="noopener noreferrer"
                                        class="me-1">
                                        <i class="fas fa-envelope-square text-light"></i>
                                    </a>

                                    <a href="{{ele['linkedin']}}" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-linkedin text-light"></i>
                                    </a>
                                    <a href="{{ele['github']}}" target="_blank" rel="noopener noreferrer" class="me-1">
                                        <i class="fab fa-github text-light"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row py-4">
        <div class="col-12">
            <h3 class="mb-4 pb-3 text-red main-font fs-3 text-center">
                App Team
            </h3>
        </div>
        <div class="col-12">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 row-padding">
                {% for ele in app_team_list %}
                <div class="col d-flex flex-column align-items-center">
                    <div class="team-card">
                        <img class="team_card-img" src="{{ele['img']}}" alt="team person image">
                        <!-- info div -->
                        <div class="d-flex flex-column team_card-info w-100">
                            <div class="py-3">
                                <h5 class="mb-0 main-font fs-5 px-2 text-center">
                                    {{ele['name']}}
                                </h5>
                                <p class="fs-7 sec-font text-light px-2 text-center mb-2">
                                    {{ele['role']}}
                                </p>
                                <div class="fs-4 bottom w-100 px-3 py-1 text-center">
                                    <a href="tel:{{ele['call']}}" class="me-1">
                                        <i class="fas fa-phone-alt text-light"></i>
                                    </a>
                                    <a href="mailto:{{ele['gmail']}}" target="_blank" rel="noopener noreferrer"
                                        class="me-1">
                                        <i class="fas fa-envelope-square text-light"></i>
                                    </a>

                                    <a href="{{ele['linkedin']}}" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-linkedin text-light"></i>
                                    </a>
                                    <a href="{{ele['github']}}" target="_blank" rel="noopener noreferrer" class="me-1">
                                        <i class="fab fa-github text-light"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row py-4">
        <div class="col-12">
            <h3 class="mb-4 pb-3 text-red main-font fs-3 text-center">
                UI UX Team
            </h3>
        </div>
        <div class="col-12">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 row-padding">
                {% for ele in ui_team %}
                <div class="col d-flex flex-column align-items-center">
                    <div class="team-card">
                        <img class="team_card-img" src="{{ele['img']}}" alt="team person image">
                        <!-- info div -->
                        <div class="d-flex flex-column team_card-info w-100">
                            <div class="py-3">
                                <h5 class="mb-0 main-font fs-5 px-2 text-center">
                                    {{ele['name']}}
                                </h5>
                                <p class="fs-7 sec-font text-light px-2 text-center mb-2">
                                    {{ele['role']}}
                                </p>
                                <div class="fs-4 bottom w-100 px-3 py-1 text-center">
                                    <a href="tel:{{ele['call']}}" class="me-1">
                                        <i class="fas fa-phone-alt text-light"></i>
                                    </a>
                                    <a href="mailto:{{ele['gmail']}}" target="_blank" rel="noopener noreferrer"
                                        class="me-1">
                                        <i class="fas fa-envelope-square text-light"></i>
                                    </a>

                                    <a href="{{ele['linkedin']}}" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-linkedin text-light"></i>
                                    </a>
                                    <a href="{{ele['github']}}" target="_blank" rel="noopener noreferrer" class="me-1">
                                        <i class="fab fa-github text-light"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}