{% extends 'user_layout.html' %}


{% block headContent %}
<style>
    .contact_card {
        border: 5px solid var(--navbar);
        border-radius: 20px;
        height: 15rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .contact_card-img {
        width: 6rem;
        height: 6rem;
    }

    @media screen and (max-width:600px) {
        .contact_card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: auto;
            width: 100%;
        }

        .contact_card-img {
            width: 5rem;
            height: 5rem;
        }
    }
</style>
{% endblock headContent %}


{% block title %}
Alegria 2022 | Event Heads Contact
{% endblock %}

{% block content %}

<div class="container-fluid p-3 min-vh-100 w-100 text-center bg-beige bg-cover overflow-hidden">
    <h1 class="text-red main-font fs-2 py-2">Event Heads</h1>
    <!-- row1 -->
    <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 g-5 p-4">
        {% for item in event_heads_row1 %}
        <div class="col-md-6 col-sm-12">
            <div class="px-4 contact_card p-3 shadow cover-color gap-2">
                <div class="d-flex flex-column align-items-center">
                    <h4 class=" main-font text-red fs-4">
                        {{item["label"]}}
                    </h4>
                    <img src={{item["logo"]}} class="contact_card-img" alt="logo">
                </div>
                <div class="d-flex flex-column">
                    {% for row in item["details"] %}
                    <p class="mb-1 main-font text-black fs-6">
                        {{row["name"]}}
                    </p>
                    <p class="d-flex align-items-center mb-1 main-font text-red fs-6">
                        <i class="fas fa-phone me-2"></i>
                        <a href={{"tel:+91{}".format(row["phone_number"])}} class="text-red">+91
                            {{row["phone_number"]}}</a>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- row2 -->
    <div class="row row-cols-lg-2 row-cols-sm-1 g-5 p-4">
        {% for item in event_heads_row2 %}
        <div class="col-md-6 col-sm-12">
            <div class="px-4 contact_card p-3 shadow main-bg gap-2">
                <div class="d-flex flex-column align-items-center">
                    <h4 class=" main-font text-red fs-4">
                        {{item["label"]}}
                    </h4>
                    <img src={{item["logo"]}} class="contact_card-img" alt="logo">
                </div>
                <div class="d-flex flex-column">
                    {% for row in item["details"] %}
                    <p class="mb-1 main-font text-black fs-6">
                        {{row["name"]}}
                    </p>
                    <p class="d-flex align-items-center mb-1 main-font text-red fs-6">
                        <i class="fas fa-phone me-2"></i>
                        <a href={{"tel:+91{}".format(row["phone_number"])}} class="text-red">+91
                            {{row["phone_number"]}}</a>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- row3 -->
    <div class="row row-cols-lg-2 row-cols-sm-1 g-5 p-4">
        {% for item in event_heads_row3 %}
        <div class="col-md-6 col-sm-12">
            <div class="px-4 contact_card p-3 shadow main-bg gap-2">
                <div class="d-flex flex-column align-items-center">
                    <h4 class=" main-font text-red fs-4">
                        {{item["label"]}}
                    </h4>
                    <img src={{item["logo"]}} class="contact_card-img" alt="logo">
                </div>
                <div class="d-flex flex-column">
                    {% for row in item["details"] %}
                    <p class="mb-1 main-font text-black fs-6">
                        {{row["name"]}}
                    </p>
                    <p class="d-flex align-items-center mb-1 main-font text-red fs-6">
                        <i class="fas fa-phone me-2"></i>
                        <a href={{"tel:+91{}".format(row["phone_number"])}} class="text-red">+91
                            {{row["phone_number"]}}</a>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- row 4 -->
    <div class="row row-cols-lg-2 row-cols-sm-1 g-5 gx-4 p-4">
        {% for item in event_heads_row4 %}
        <div class="col-md-6 col-sm-12">
            <div class="px-4 contact_card p-3 shadow main-bg gap-2">
                <div class="d-flex flex-column align-items-center">
                    <h4 class=" main-font text-red fs-4">
                        {{item["label"]}}
                    </h4>
                    <img src={{item["logo"]}} class="contact_card-img" alt="logo">
                </div>
                <div class="d-flex flex-column">
                    {% for row in item["details"] %}
                    <p class="mb-1 main-font text-black fs-6">
                        {{row["name"]}}
                    </p>
                    <p class="d-flex align-items-center mb-1 main-font text-red fs-6">
                        <i class="fas fa-phone me-2"></i>
                        <a href={{"tel:+91{}".format(row["phone_number"])}} class="text-red">+91
                            {{row["phone_number"]}}</a>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}