<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}

    {% endblock %}

    <!-- bootstrap -->
    <!-- css -->
    <link rel="stylesheet" href="{{url_for('static',filename='/css/bootstrap-reboot.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/bootstrap-utilities.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/bootstrap.min.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='/css/bootstrap-grid.min.css')}}"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='/css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/user.css')}}">


    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">

    <!-- js -->
    <script defer src="{{url_for('static',filename='/js/bootstrap.bundle.min.js')}}"></script>
    <script defer src="{{url_for('static',filename='/js/bootstrap.esm.min.js')}}"></script>
    <script defer src="{{url_for('static',filename='/js/bootstrap.min.jsdefer')}}"></script>

    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>{% block title %} {% endblock %}</title>
</head>

{% block body %}
{% endblock %}

</html>