<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    {% block head %}

    {% endblock %}
    <!-- js -->
    <script defer src="../static/js/nav.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="{{url_for('static',filename='/css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/user.css')}}">

    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">

    <title>{% block title %} {% endblock %}</title>
</head>

{% block body %}
{% endblock %}



</html>