{% extends 'user_layout.html' %}

{% block title %}
Alegria 2022
{% endblock %}

{% block content %}
<style>
    
    .anouncement
    {
        color: white;
    }

    .ann-bg
    {
        background-color: #4F2908; 
        border-radius: 10px;
    }

    h1
    {
        color: #4F2908;
        text-align: center;
    }
    .info
    {
        color: #842703;
        font-weight: bolder;
        font-size: 35px;
    }
    .black
    {
      color: black;  
      font-weight: bolder;
      font-size: 20px;
    }
    p
    {
        text-align: justify;
        text-justify: inter-word;
        
    }
    .pp-link{
        text-decoration: none;
        color:brown;
    }
</style>

<div class="container-fluid py-3 be-beige bg-cover fs-7">
   
    <div class="container px-3" style="border-style: double;border-width: 10px;border-color: #4F2908;">
    <br>        
    <h1 class="main-font fs-1"> Generic Terms of Service Template </h1>

    <br>
    <p class="sec-font">Please read these terms of service ("terms of service", "terms") carefully before using https://www.alegria.co.in/ website (“website”, "service") operated by Alegria ("us", 'we", "our").</p>
    <br>

    <h2 class="main-font">Conditions of use</h2>
    <p class="sec-font">By using this website, you certify that you have read and reviewed this Agreement and that you agree to comply with its terms. If you do not want to be bound by the terms of this Agreement, you are advised to leave the website accordingly. Alegria only grants use and access of this website, its products, and its services to those who have accepted its terms.</p>

    <br>

    <h2 class="main-font">Privacy policy</h2>
    <p class="sec-font">Before you continue using our website, we advise you to read our <a href='/privacypolicy' class='pp-link'>Privacy policy</a> regarding our user data collection. It will help you better understand our practices.</p>

    <br>
    <h2 class="main-font">Age restriction</h2>
    <p class="sec-font">You must be at least 18 (eighteen) years of age before you can use this website. By using this website, you warrant that you are at least 18 years of age and you may legally adhere to this Agreement. Alegria assumes no responsibility for liabilities related to age misrepresentation.</p>

    <br>
    <h2 class="main-font">Intellectual property</h2>
    <p class="sec-font">You agree that all materials, products, and services provided on this website are the property of Alegria, its affiliates, directors, officers, employees, agents, suppliers, or licensors including all copyrights, trade secrets, trademarks, patents, and other intellectual property. You also agree that you will not reproduce or redistribute the Alegria’s intellectual property in any way, including electronic, digital, or new trademark registrations.</p>
    <p class="sec-font"> You grant Alegria a royalty-free and non-exclusive license to display, use, copy, transmit, and broadcast the content you upload and publish. For issues regarding intellectual property claims, you should contact the company in order to come to an agreement.</p>

    <br>

    <h2 class="main-font">User accounts</h2>

    <p class="sec-font">As a user of this website, you may be asked to register with us and provide private information. You are responsible for ensuring the accuracy of this information, and you are responsible for maintaining the safety and security of your identifying information. You are also responsible for all activities that occur under your account or password.</p>

    <p class="sec-font">If you think there are any possible issues regarding the security of your account on the website, inform us immediately so we may address it accordingly.</p>

    <p class="sec-font">We reserve all rights to terminate accounts, edit or remove content and cancel orders in their sole discretion.</p>

    <br>

    <h2 class="main-font">Applicable law</h2>

    <p class="sec-font">By visiting this website, you agree that the laws of the [location], without regard to principles of conflict laws, will govern these terms and conditions, or any dispute of any sort that might come between Alegria and you, or its business partners and associates.</p>

    <br>

    <h2 class="main-font">Disputes</h2>

    <p class="sec-font"> Any dispute related in any way to your visit to this website or to products you purchase from us shall be arbitrated by state or federal court [location] and you consent to exclusive jurisdiction and venue of such courts. </p>

    <br>

    <h2 class="main-font">Indemnification</h2>

    <p class="sec-font"> You agree to indemnify Alegria and its affiliates and hold Alegria harmless against legal claims and demands that may arise from your use or misuse of our services. We reserve the right to select our own legal counsel.</p>

    <br>

    <h2 class="main-font">Limitation on liability</h2>
    <p class="sec-font">Alegria is not liable for any damages that may occur to you as a result of your misuse of our website.</p>

    <p class="sec-font">Alegria reserves the right to edit, modify, and change this Agreement any time. We shall let our users know of these changes through electronic mail. This Agreement is an understanding between Alegria and the user, and this supersedes and replaces all prior agreements regarding the use of this website.
    </p>

</div>
</div>
{% endblock %}