{% extends 'user_layout.html' %}

{% block title %}
Alegria 2022
{% endblock %}

{% block content %}

<style>
    .size {
       display: block;
       position: relative;
       width:100px;
       margin-bottom:30px;
    }
    .size input {
        display: none;
    }
    .size span {
        border: 1px solid #ccc;
        background-color: #FFF7B6;
        width: 40px;
        height: 33px;
        position: absolute;
        overflow: hidden;
        text-align: center;
        border-radius: 100%;
        left: 0;
        top: 50%;
        margin-top: -8px;
    }
    input:checked + span {
        background: black;
        color:white;
        border-color: #ccf;
    }
</style>
<div class="row min-w-100 min-vh-100 bg-gradient overflow-hidden sec-font">
    <div class="col-lg-12 col-sm-12 p-3 bg-cover d-flex">
        <div class="col-lg-4 col-md-4 col-sm-12 my-5 mx-3">
            <img src="/static/images/tshirt.png" alt="merchandise" style="width:90%;border-radius: 20px;">
        </div>
        <div class="col-lg-4 col-md-8 col-sm-12 my-3">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb fs-7 text-black">
                    <li class="breadcrumb-item">
                        <a href="/" class="text-black">Home</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        <a class="text-black"
                            href={{"/user/merchandise/{}".format(merchandise_data["category"])}}>
                            {{merchandise_data["category"]}}
                        </a>
                    </li>
                    <li class="breadcrumb-item text-red main-font" aria-current="page">
                        {{merchandise_data["name"]}}</li>
                </ol>
            </nav>
            <h1 class="text-red fs-3">{{merchandise_data["name"]}}</h1>
            <h2 class="text-red">{{merchandise_data["cost"]}} ₹</h2>
            <button
                class="w-100 d-flex align-items-center justify-content-center border-0 bg-red text-beige my-3 fs-6 py-1 px-3 rounded-pill"
                style="max-width: 200px;">
                Add To Cart
            </button>
            <h4 class="text-red">Merchandise Info</h4>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <p class="text-brown"></p>
            <hr>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                aria-expanded="false" aria-controls="collapse1">
                + Details
            </button>
            <div class="collapse" id="collapse1">
                <div class="collapse-card u-text-light-brown">
                    {{merchandise_data["details"]}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <p>Choose Size</p>
                    <div class="d-flex">
                        <label class="size"><input type="radio" name="size" /><span>XS</span></label>
                        <label class="size"><input type="radio" name="size" /><span>S</span></label>
                        <label class="size"><input type="radio" name="size" /><span>M</span></label>
                        <label class="size"><input type="radio" name="size" /><span>L</span></label>
                    </div>
                    <p>Choose Color</p>
                    <label><input type="radio">{{merchandise_data['color']}}</label>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-12 mx-4">
            <p>Similar Products</p>
            <img src="/static/images/tshirt.png" width='80%'>
            <br><br>
            <img src="/static/images/tshirt.png" width='80%'>
        </div>
    </div>
</div>

{% endblock %}