{% extends 'user_layout.html' %}

{% block title %}

{% block headContent %}
<script defer src="/static/js/polls.js"></script>
{% endblock headContent %}

Alegria 2022 | Polls
{% endblock %}

{% block content %}
<style>
    .poll-card {
        background-color: rgba(79, 41, 8, 0.7);
    }

    .poll-box {
        background: linear-gradient(180deg, #a55c1b 0%, #2e1602 74%);
    }

    .poll-box:hover {
        cursor: pointer;
    }

    .poll-image {
        filter: brightness(50%);
        height: 50vh;
    }

    .poll-image:hover {
        filter: brightness(100%);
    }

    .poll-question {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(165, 92, 27, 0.8);
        padding: 5px;
        border-radius: 5px;
    }

    .poll-question:hover {
        color: white;
    }

    @media screen and (max-width:430px) {
        .poll-image {
            height: 30vh;
        }
    }
</style>
<div class="bg-cover">
    <br>
    <h1 class="m-4 mt-0 text-brown" style="text-align: center;">Polls</h1>
    <div class="p-4 pt-0">
        <div class="poll-card card p-4 ">
            <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4 justify-content-center">
                {% if count==0 %}
                <i class='fs-3 main-font my-3 text-beige text-center'>Coming Soon</i>
                {% else %}
                {% for ele in poll_cards %}
                <a href="polls/{{ele['id']}}">
                    <div class="col">
                        <div class="card p-1 mb-3 bg-body poll-box"
                            style='border-radius: 10px; text-align: center; box-shadow: 5px 10px 18px #331a00;'>
                            <img class="poll-image" src="/static/images/polls-bg.png">
                            <h4 class="poll-question">{{ele['question']}}</h4>
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}