{% extends 'layout.html' %} {% block head %}
<script src="/static/js/loading.js"></script>

{% block headContent %} {% endblock headContent %} {% endblock head %} {% block body %}

<body class="loader-body">
    <div class="loading-bg"></div>
    <div class="loader-div d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-column align-items-center">
            <img src="/static/images/AlegriaLogo.png" alt="alegria-logo" id="loader-logo" height="150px">
            <div class="loader d-flex align-items-center justify-content-center px-3 sec-font fs-1 my-2">
                <p id="loader-l">L</p>
                <p id="loader-o">o</p>
                <p id="loader-a">a</p>
                <p id="loader-d">d</p>
                <p id="loader-i">i</p>
                <p id="loader-n">n</p>
                <p id="loader-g">g</p>
                <!-- <div class="px-2"></div>
                <p id="loader-A">A</p>
                <p id="loader-L">l</p>
                <p id="loader-E">e</p>
                <p id="loader-G">g</p>
                <p id="loader-R">r</p>
                <p id="loader-I">i</p>
                <p id="loader-Aa">a</p> -->
            </div>
        </div>
    </div>

    <body class="min-vh-100">
        <nav class="navbar navbar-main navbar-expand-lg navbar-light p-2 position-relative">
            <div class="container-fluid">
                <a class="" href="/">
                    <img src="/static/images/AlegriaLogo.png" alt="alegria logo" width="60px" height="60px">
                </a>
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-white" width="32px" height="32px" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="ms-5 navbar-nav me-auto mt-1 mb-2 mb-lg-0 sec-font fw-bold gy-3">
                        <li class="nav-item">
                            <a href="/" class='navbar_links' {% if activeNav=='Home' %} style='color: #e8ff84;' {% endif
                                %}>Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class='navbar_links dropdown-toggle' id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                aria-expanded="false" {% if activeNav=='Events' %} style='color: #e8ff84;' {% endif
                                %}>Events</a>
                            <ul class="dropdown-menu" style="background-color: #681b0aec !important;"
                                aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <a class="dropdown-item navbar_links" href="/events/informals">Informals</a>
                                </li>
                                <li>
                                    <a class="dropdown-item navbar_links" href="/events/fine-arts">Fine Arts</a>
                                </li>
                                <li>
                                    <a class="dropdown-item navbar_links" href="/events/performing-arts">Performing
                                        Arts</a>
                                </li>
                                <li>
                                    <a class="dropdown-item navbar_links" href="/events/gaming">Gaming</a>
                                </li>
                                <li>
                                    <a class="dropdown-item navbar_links" href="/events/sports">Sports</a>
                                </li>
                                <li>
                                    <a class="dropdown-item navbar_links" href="/events/literary-arts">Literary
                                        Arts</a>
                                </li>
                                <li>
                                    <a class="dropdown-item navbar_links" href="/events/technical-events">Technical
                                        Events</a>
                                </li>
                                <li>
                                    <a class="dropdown-item navbar_links" href="/events/technical-workshop">Technical
                                        Workshops</a>
                                </li>
                                <li>
                                    <a class="dropdown-item navbar_links" href="/events/management">Management
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item navbar_links" href="/events">All
                                        Events
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="" class='navbar_links dropdown-toggle' id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false" {% if activeNav=='Merchandise' %}
                                style='color: #e8ff84;' {% endif %}>Merchandise</a>
                            <ul class="dropdown-menu" style="background-color: #681b0aec !important;"
                                aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <a class="dropdown-item navbar_links" href="/merchandise/Tshirts">Tshirts</a>
                                </li>
                                <li>
                                    <a class="dropdown-item navbar_links" href="/merchandise/Badges">Badges</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/hackathon" class='navbar_links' {% if activeNav=='Hackathon' %}
                                style='color: #e8ff84;' {% endif %}>Hackathon</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://pillaialegria.wordpress.com/" target="_blank" rel="noopener noreferrer"
                                class='navbar_links' {% if activeNav=='Blogs' %} style='color: #e8ff84;' {% endif
                                %}>Blogs</a>
                            <!-- <a href="" class='navbar_links dropdown-toggle' id="dropdownMenuButton2"
                                data-bs-toggle="dropdown" aria-expanded="false">News</a>
                            <ul class="dropdown-menu" style="background-color: #681b0aec !important;"
                                aria-labelledby="dropdownMenuButton2">
                                <li>
                                    <a class="dropdown-item navbar_links" href="https://pillaialegria.wordpress.com/"
                                        target="_blank" rel="noopener noreferrer">Blog</a>
                                </li>
                                <li>
                                    <a class="dropdown-item navbar_links" href="/buzz">Buzz</a>
                                </li>
                                <li>
                                    <a class="dropdown-item navbar_links" href="/highlights">Highlights</a>
                                </li>
                            </ul> -->
                        </li>
                        <li class="nav-item dropdown">
                            <a class='navbar_links dropdown-toggle' id="dropdownMenuButton2" data-bs-toggle="dropdown"
                                aria-expanded="false">More</a>
                            <ul class="dropdown-menu border-0" style="background-color: #681b0aec;"
                                aria-labelledby="dropdownMenuButton2">
                                <li>
                                    <a href="/about-us" class="dropdown-item navbar_links">About Us</a>
                                </li>
                                <li>
                                    <a href="/polls" class="dropdown-item navbar_links">Polls</a>
                                </li>
                                <li>
                                    <a href="/user/quiz" class="dropdown-item navbar_links">Quiz</a>
                                </li>
                                <li>
                                    <a href="/announcements?filter=None"
                                        class="dropdown-item navbar_links">Announcements</a>
                                </li>
                                <li>
                                    <a href="/Alegria-Brochure-2022" class="dropdown-item navbar_links">EBrochure
                                        2022</a>
                                </li>
                                <li>
                                    <a href="/sponsors" class="dropdown-item navbar_links">Sponsors</a>
                                </li>
                                <li>
                                    <a href="/developers" class="dropdown-item navbar_links">Developers</a>
                                </li>
                                <li>
                                    <a href="/event-heads" class="dropdown-item navbar_links">Event Heads </a>
                                </li>
                                <li>
                                    <a href="/privacypolicy" class="dropdown-item navbar_links">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="/publictermsofservice" class="dropdown-item navbar_links">Terms and
                                        Conditions</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% if signed_in==False %}
                    <button class="up-button">
                        <a href="/user-login"
                            class="d-flex justify-content-center align-items-center rounded-3 text-red bg-white fs-7 px-5 py-1 me-2 main-font">
                            <p class="my-0 me-2">
                                Sign In
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="text-beige ms-3" width="24px" height="24px">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z" />
                            </svg>
                        </a>
                    </button>
                    {% endif %}

                    {% if signed_in==True %}
                    <a href="/user/cart"
                        class="cart position-relative mx-3 d-flex align-items-center text-black p-2 mx-1 position-relative">
                        <i class="fas fa-shopping-bag text-beige me-2 fs-5"></i>
                        <div class="cart_bubble position-absolute top-0 end-0 ms-1">
                            {{cartLen}}
                        </div>
                    </a>
                    {% endif %}

                    {% if signed_in==True %}
                    <button type="button" class="up-button m-0 p-0">
                        <a href="/session-logout"
                            class="d-flex justify-content-center align-items-center rounded-3 text-beige border-beige fs-7 px-3 py-1 me-2 main-font">
                            <p class="my-0 me-2">
                                Logout
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-beige" width="24px" height="24px"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                            </svg>
                        </a>
                    </button>
                    {% endif %}
                </div>
            </div>
        </nav>


        {% block content %} {% endblock %}

        <!-- footer -->
        <footer class="d-flex flex-column px-2 overflow-hidden u-text-beige" style="background-color: #272626;">
            <div class="row d-flex justify-content-center g-4 p-4 pt-5">
                <div class="col-lg-3 col-sm-6">
                    <p class="footer_link">Here's how you can reach us</p>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.6693193422207!2d73.12548141390256!3d18.990206059600766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7e866de88667f%3A0xc1c5d5badc610f5f!2sPillai%20College%20of%20Engineering%2C%20New%20Panvel!5e0!3m2!1sen!2sin!4v1639657181713!5m2!1sen!2sin"
                        width="220" height="150" style="border:0;" allowfullscreen=true loading="lazy"
                        class="rounded-3"></iframe>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <li>
                        <a href="/events/fine-arts" class="footer_link mb-1">
                            Fine Arts
                        </a>
                    </li>
                    <li>
                        <a href="/events/gaming" class="footer_link mb-1">
                            Gaming
                        </a>
                    </li>
                    <li>
                        <a href="/events/informals" class="footer_link mb-1">
                            Informals
                        </a>
                    </li>
                    <li>
                        <a href="/events/literary-arts" class="footer_link mb-1">
                            Literary Arts
                        </a>
                    </li>
                    <li>
                        <a href="/events/management" class="footer_link mb-1">
                            Management
                        </a>
                    </li>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <li>
                        <a href="/event/technical-events" class="footer_link mb-1">
                            Technical Events
                        </a>
                    </li>
                    <li>
                        <a href="/events/technical-workshop" class="footer_link mb-1">
                            Technical Workshops
                        </a>
                    </li>
                    <li>
                        <a href="/events/performing-arts" class="footer_link mb-1">
                            Performing Arts
                        </a>
                    </li>
                    <li>
                        <a href="/events/sports" class="footer_link mb-1">
                            Sports
                        </a>
                    </li>
                    <li>
                        <a href="/events/special-events" class="footer_link mb-1">
                            Special Events
                        </a>
                    </li>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <li>
                        <a href="/" class="footer_link mb-1">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/user-login" class="footer_link mb-1">
                            Login
                        </a>
                    </li>
                    <li>
                        <a href="/hackathon" class="footer_link mb-1">
                            Hackathon
                        </a>
                    </li>
                    <li>
                        <a href="/merchandise/Tshirts" class="footer_link mb-1">
                            Merchandise Tshirts
                        </a>
                    </li>
                    <li>
                        <a href="/developers" class="footer_link mb-1">
                            Developers
                        </a>
                    </li>
                    <li class="my-1">
                        <a href="https://play.google.com/store/apps/details?id=com.mes.alegria" target="_blank"
                            rel="noopener noreferrer" class="px-3 py-1 d-flex align-items-center rounded-3"
                            style="background-color: black;width: 60%;height: 60%;">
                            <img src="/static/images/icons/playstore.png" alt="playstore icon" class="me-1">
                            <p class="sec-font mb-0" style="font-size: 0.7rem;">
                                <span>
                                    Get It On
                                </span>
                                <br>
                                <span>
                                    Google Play
                                </span>
                            </p>
                        </a>
                    </li>
                </div>
            </div>
            <div class="row g-2 py-2" style="background-color: #242121;">
                <div class="col-md-4 col-sm-12">
                    <p class="footer_link mb-1 text-center">Copyright 2022 Alegria</p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="https://www.instagram.com/pillaisalegria/" target="_blank" rel="noopener noreferrer"
                            class="footer_link mb-1 px-2 social-icons">
                            <i class="fab fa-instagram fs-5"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCfqP3NEaaXPsgHn8QX3qilw" target="_blank"
                            rel="noopener noreferrer" class="footer_link mb-1 px-2 social-icons">
                            <i class="fab fa-youtube fs-5"></i>
                        </a>
                        <a href="https://www.facebook.com/pillaisalegria" target="_blank" rel="noopener noreferrer"
                            class="footer_link mb-1 px-2 social-icons">
                            <i class="fab fa-facebook-square fs-5"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <p class="footer_link mb-1 text-center">Powered by Alegria</p>
                </div>
            </div>
        </footer>

    </body>
    {% endblock %}