{% extends 'user_layout.html' %}


{% block headContent %}
<style>
    #ecard {
        border: 5px solid var(--navbar);
        border-radius: 20px;
        height: 350px;
    }

    .row-padding {
        padding: 0.3rem 1.8rem;
    }

    @media screen and (max-width:600px) {

        .row-padding {
            padding: 0.3rem 1.1rem;
        }
    }
</style>
{% endblock headContent %}

{% block title %}
Alegria 2022 | Events
{% endblock %}

{% block content %}
<div class="containr-fluid bg-cover overflow-hidden">
    {% for item in events_list %}
    <div class="row my-3">
        <div class="col-12">
            <h2 class="m-4 mt-0 text-brown fs-2 text-center">
                {{item.title}}
            </h2>
        </div>
        <div class="col-12">
            <div class="row row-cols-1 row-cols-lg-4 row-cols-md-4 row-cols-sm-2 g-3 row-padding">
                {% for ele in item.data %}
                <div class="col d-flex flex-column align-items-center">
                    <a href={{"/event/{}/{}".format(ele['category'],ele['event_id'])}}
                        class="event-card-small p-1 cover-color">
                        <div class="event-circle">
                            <img src={{ele["icon_url"]}} alt="card-image" width="140px" height="140px">
                        </div>
                        <h3 class="fs-6 text-red text-center main-font px-2 my-1">{{ele['event_name']}}</h3>
                        <p class="fs-5 text-red main-font px-2 mb-1">
                            {{ele["event_cost"]}} ₹
                        </p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}