{% extends 'user_layout.html' %}

{% block headContent %}
<style>
    .app-images {
        width: 90%;
        height: 500px;
        object-fit: contain;
    }

    @media screen and (max-width:600px) {
        .app-images {
            width: 80%;
            height: 20rem;
        }
    }
</style>
{% endblock %}


{% block title %}
Alegria 2022 | Alegria App 2022
{% endblock %}

{% block content %}
<div class="container-fluid min-vh-100 bg-cover overflow-hidden">
    <div class="row py-2">
        <h1 class="main-font text-red text-center fs-2 py-3">
            Alegria App 2022
        </h1>
    </div>
    <div class="row px-2 py-3 gx-2 gy-4">
        <div class="col-lg-5 col-sm-12 justify-content-center text-center">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/images/apphome.png" class="app-images" alt='alegria-app-images'>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/left.png" class="app-images" alt='alegria-app-images'>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/bassi.png" class="app-images" alt='alegria-app-images'>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/right.png" class="app-images" alt='alegria-app-images'>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-lg-7 col-sm-12">
            <div class="d-flex flex-column cover-color rounded-3 p-3 shadow">
                <p class="fs-6 sec-font text-black">
                    ALEGRIA launches its very own app ! Integrating all the initiatives on a single platform. <br>
                    Introducing, the ALEGRIA 2022 App! Download the app to stay in the loop of all things happening, get
                    notified on all events including competition updates and results instantly. <br> Whatever you need
                    to
                    know about ALEGRIA 2022, you'll find here! ✨ <br>
                    Now available on Playstore. Press on the Download now button or Scan the QR code to know more .
                </p>
                <div class="row p-2">
                    <div class="col d-flex justify-content-center">
                        <button type="button" class="w-auto normal-button">
                            <a href="https://play.google.com/store/apps/details?id=com.mespillai.alegria"
                                target="_blank" rel="noopener noreferrer">
                                Download Now
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}